# Development Workflow artifacts
.vscode/
__pycache__/
typings/
.github/*

# Deploy files
deploy/docker/.env.cloud

# Frontend build artifacts
control/frontend/build/
control/frontend/node_modules/

# Load testing artifacts
testing/results/*
testing/locust.log